*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

html,body{
  height:100%;
  overflow-x:hidden;
  background:#0b0b14;
}

/* BACKGROUND GLOW */
.bg-glow{
  position:fixed;
  width:100%;
  height:100%;
  background:radial-gradient(circle at top,#ff4ecd33,#6a5cff22,#000);
  z-index:-2;
}

/* FLOATING ICONS */
.floating i{
  position:absolute;
  font-size:22px;
  color:rgba(255,255,255,0.15);
  animation:float 12s linear infinite;
}

.floating i:nth-child(1){left:10%;animation-delay:0s;}
.floating i:nth-child(2){left:30%;animation-delay:2s;}
.floating i:nth-child(3){left:50%;animation-delay:4s;}
.floating i:nth-child(4){left:70%;animation-delay:1s;}
.floating i:nth-child(5){left:90%;animation-delay:3s;}

@keyframes float{
  0%{transform:translateY(100vh);opacity:0;}
  10%{opacity:1;}
  100%{transform:translateY(-120vh);opacity:0;}
}

/* APP WRAPPER */
.app{
  height:100dvh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

/* SCREEN SYSTEM */
.screen{
  width:100%;
  max-width:420px;
  text-align:center;
}

.hidden{display:none;}

/* CARD */
.card{
  background:rgba(255,255,255,0.06);
  border:1px solid rgba(255,255,255,0.1);
  backdrop-filter:blur(20px);
  padding:28px;
  border-radius:24px;
}

/* ICON */
.icon{
  font-size:60px;
  color:#4ed6ff;
  margin-bottom:10px;
}

/* TITLE */
h1{
  font-size:1.8rem;
  color:white;
}

p{
  color:rgba(255,255,255,0.7);
  margin:10px 0 20px;
}

/* INPUT */
.input-group{
  position:relative;
  margin-bottom:15px;
}

.input-group i{
  position:absolute;
  left:12px;
  top:50%;
  transform:translateY(-50%);
  color:#4ed6ff;
}

input{
  width:100%;
  padding:14px 14px 14px 38px;
  border-radius:12px;
  border:none;
  outline:none;
  font-size:16px;
}

/* BUTTON */
button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  background:linear-gradient(135deg,#ff4ecd,#6a5cff);
  color:white;
  font-weight:600;
  font-size:15px;
  cursor:pointer;
}

button i{
  margin-right:6px;
}

/* BIRTHDAY SCREEN */
.icon-big{
  font-size:70px;
  color:#4ed6ff;
  margin-bottom:10px;
}

/* GIF UTAMA */

.gif-main{
  width:240px;
  max-width:90%;
  border-radius:20px;
  margin:15px 0;
  box-shadow:0 0 30px rgba(255,255,255,0.2);
}

/* GIF KECIL */

.gif-small{
  width:120px;
  margin-top:20px;
  opacity:0.95;
  border-radius:20px;
}

#text{
  font-size:1.6rem;
  color:white;
  margin-top:10px;
}

.desc{
  font-size:0.95rem;
  line-height:1.5;
  margin-top:10px;
}

/* ANIMATION */
@keyframes pop{
  from{transform:scale(0.8);opacity:0;}
  to{transform:scale(1);opacity:1;}
}

.screen{
  animation:pop 0.5s ease;
}